{
  "arrowParens": "avoid",
  "printWidth": 250,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/*.yaml"],
      "rules": {
        "singleQuote": false
      }
    }
  ]
}
